<table id="school_vocational_table" class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'event_exam.question.content' %></th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <% if @event.status.to_i==0 %>
    <th><%= link_to "#{t 'new'}", new_event_event_exam_question_path(@event, @event_exam), :class => "btn btn-default btn-xs", :remote => true %></th>
    <% end %>
  </tr>

<% @event_exam.questions.each do |question| %>
  <tr>
    <td><%= question.content %></td>
    <td><%= question.answer_1 %></td>
    <td><%= question.answer_2 %></td>
    <td><%= question.answer_3 %></td>
    <td><%= question.answer_4 %></td>
    <% if @event.status.to_i==0 %>
    <td>
        <%= link_to "#{t 'edit'}", edit_event_event_exam_question_path(@event, @event_exam, question), :class => "btn btn-warning btn-xs", :remote => true %>
        <%= link_to "#{t 'destroy'}", event_event_exam_question_path(@event, @event_exam, question), method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>