<%= form_for(@teacher_subject_detail) do |f| %>
  <% if @teacher_subject_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher_subject_detail.errors.count, "error") %> prohibited this teacher_subject_detail from being saved:</h2>

      <ul>
      <% @teacher_subject_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teacher_subject_id %><br />
    <%= f.number_field :teacher_subject_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br />
    <%= f.number_field :subject_id %>
  </div>
  <div class="field">
    <%= f.label :competent_score %><br />
    <%= f.text_field :competent_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
