<p id="notice"><%= notice %></p>

<p>
  <b>Teacher subject:</b>
  <%= @teacher_subject_detail.teacher_subject_id %>
</p>

<p>
  <b>Subject:</b>
  <%= @teacher_subject_detail.subject_id %>
</p>

<p>
  <b>Competent score:</b>
  <%= @teacher_subject_detail.competent_score %>
</p>


<%= link_to 'Edit', edit_teacher_subject_detail_path(@teacher_subject_detail) %> |
<%= link_to 'Back', teacher_subject_details_path %>
