<table id="teacher_histories_table" class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'teacher.history.event' %></th>
    <th><%= t 'teacher.history.event_date' %></th>
    <th><%= t 'teacher.history.vocational' %></th>
    <th><%= t 'teacher.history.status' %></th>
    <th width="200"></th>
  </tr>

<% @teacher.histories.each do |teacher_history| %>
  <tr>
    <td><%= teacher_history.event.try(:title) %></td>
    <td><%= date(teacher_history.event.try(:date_start)) %></td>
    <td><%= teacher_history.event.try(:vocational).try(:name) %></td>
    <td><span class="<%= label_class(teacher_history.status) %>"><%= teacher_history.status_name %></span></td>
    <% if @modal.to_i==0 %>
    <td class="text-right">
      <%= link_to "#{t 'show'}", event_path(teacher_history.try(:event_id), :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>