<table id="teacher_histories_table" class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'teacher.history.event' %></th>
    <th><%= t 'teacher.history.event_date' %></th>
    <th><%= t 'teacher.history.vocational' %></th>
    <th><%= t 'teacher.history.status' %></th>
    <th></th>
  </tr>

<% @teacher.histories.each do |teacher_history| %>
  <tr>
    <td><%= teacher_history.event.try(:title) %></td>
    <td><%= date(teacher_history.event.try(:date_start)) %></td>
    <td><%= teacher_history.event.try(:vocational).try(:name) %></td>
    <td><span class="<%= label_class(teacher_history.status) %>"><%= teacher_history.status_name %></span></td>
    <td><%= link_to "#{t 'show'}", teacher_teacher_history_path(@teacher), :class => "btn btn-info btn-xs", :remote => true %></td>
  </tr>
<% end %>
</table>