<table id="event_matter_table" class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'event_matter.document' %></th>
    <th><%= t 'event_matter.notes' %></th>
    <% if @modal.to_i==0 %>
    <th width="200" class="text-center"><%= link_to "#{t 'add'}", new_event_event_matter_path(@event), :class => "btn btn-default btn-xs", :remote => true if @event.status.to_i==0 %></th>
    <% end %>
  </tr>

<% @event.matters.each do |event_matter| %>
  <tr>
    <td><%= event_matter.document.original_filename %></td>
    <td><%= event_matter.notes %></td>
    <% if @modal.to_i==0 %>
    <td class="text-center">
      <%= link_to "#{t 'download'}", event_matter.document.url, :class => "btn btn-info btn-xs" %>
      <%= link_to "#{t 'edit'}", edit_event_event_matter_path(@event, event_matter), :class => "btn btn-warning btn-xs", :remote => true if @event.status.to_i==0 %>
      <%= link_to "#{t 'destroy'}", event_event_matter_path(@event, event_matter), method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true if @event.status.to_i==0 %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>