<%= form_for(@teacher_vocational) do |f| %>
  <% if @teacher_vocational.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher_vocational.errors.count, "error") %> prohibited this teacher_vocational from being saved:</h2>

      <ul>
      <% @teacher_vocational.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teacher_id %><br />
    <%= f.number_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :vocational_id %><br />
    <%= f.number_field :vocational_id %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
