<p id="notice"><%= notice %></p>

<p>
  <b>Teacher:</b>
  <%= @teacher_vocational.teacher_id %>
</p>

<p>
  <b>Vocational:</b>
  <%= @teacher_vocational.vocational_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @teacher_vocational.notes %>
</p>


<%= link_to 'Edit', edit_teacher_vocational_path(@teacher_vocational) %> |
<%= link_to 'Back', teacher_vocationals_path %>
