<% @curicculum.vocationals.order(:class_for).each do |vocational| %>
  <!-- VOCATIONAL -->
  <h4>
    <b><%= t 'vocational.vocational' %>:</b> <%= vocational.name %>

    <%= link_to edit_curicculum_vocational_path(@curicculum, vocational), :class => "btn btn-warning btn-xs", :remote => true do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>

    <%= link_to curicculum_vocational_path(@curicculum, vocational), method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </h4>
  <h4><%= t 'vocational.class_for' %>&nbsp;<%= vocational.class_for %></h4>
  <!-- END VOCATIONAL -->

  <!-- CORE COMPETENCIES -->
  <table class="table table-condensed table-bordered">
    <tr style="background-color:#708DC6;">
      <th width="50%">
        <%= t 'core_competency.core_competency' %>
        <%= link_to new_curicculum_vocational_core_competency_path(@curicculum, vocational), :class => "btn btn-default btn-xs", :style => "float:right;", :remote => true do %>
          <%= "#{t 'add'} #{t 'core_competency.core_competency'}" %>&nbsp;<span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </th>
      <th width="50%">
        <%= t 'basic_competency.basic_competency' %>
      </th>
    </tr>

    <% vocational.core_competencies.order(:seq_num).each do |core_competency| %>
      <tr>
        <td>
          <b><%= "#{core_competency.seq_num}." %></b>
          <%= "#{core_competency.description}" %><br>

          <%= link_to edit_curicculum_vocational_core_competency_path(@curicculum, vocational, core_competency), :class => "btn btn-warning btn-xs", :remote => true do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>

          <%= link_to curicculum_vocational_core_competency_path(@curicculum, vocational, core_competency), method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>

          <%= link_to new_curicculum_vocational_core_competency_basic_competency_path(@curicculum, vocational, core_competency), :class => "btn btn-default btn-xs", :remote => true do %>
            <%= "#{t 'add'} #{t 'basic_competency.basic_competency'}" %>&nbsp;<span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </td>

        <td>
          <!-- BASIC COMPETENCIES -->
          <% core_competency.basic_competencies.order(:seq_num).each do |basic_competency| %>
            <b><%= "#{core_competency.seq_num}.#{basic_competency.seq_num}." %></b>
            <%= "#{basic_competency.description}" %>

            <%= link_to edit_curicculum_vocational_core_competency_basic_competency_path(@curicculum, vocational, core_competency, basic_competency), :class => "btn btn-warning btn-xs", :remote => true do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>

            <%= link_to curicculum_vocational_core_competency_basic_competency_path(@curicculum, vocational, core_competency, basic_competency), method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
            <br>
          <% end %>
          <!-- END BASIC COMPETENCIES -->
        </td>
      </tr>
    <% end %>
  </table>
  <!-- END CORE COMPETENCIES -->
<% end %>