<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th width="300"><%= t 'curicculum.name' %></th>
    <th><%= t 'curicculum.description' %></th>
    <th width="200"></th>
  </tr>

<% @curicculums.each do |curicculum| %>
  <tr>
    <td><%= curicculum.name %></td>
    <td><%= curicculum.description %></td>
    <td class="text-right">
      <%= link_to "#{t 'show'}", curicculum, :class => "btn btn-info btn-xs", :remote => true %>
      <%= link_to "#{t 'edit'}", curicculum, :class => "btn btn-warning btn-xs" %>
      <%= link_to "#{t 'delete'}", curicculum, method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs" %>
    </td>
  </tr>
<% end %>
</table>