<div class="row">
  <div class="col-md-2">
  	<%= link_to curicculums_path, :class => "btn btn-default btn-sm" do %>
  		<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<%= t 'back' %>
  	<% end %>
  </div>
  
  <div class="col-md-8">
    <h4 align="center">
      <%= t 'curicculum.curicculum' %>: <%= @curicculum.name %>
      <%= link_to edit_curicculum_path(@curicculum), :class => "btn btn-warning btn-xs", :remote => true do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    </h4>
  </div>

  <div class="col-md-2" align="right">
    <%= link_to new_curicculum_vocational_path(@curicculum), :class => "btn btn-default btn-sm", :remote => true do %>
      <%= "#{t 'add'} #{t 'vocational.vocational'}" %>&nbsp;<span class="glyphicon glyphicon-plus"></span>
    <% end %>
  </div>
</div>

<% if @curicculum.description.present? %>
<div class="text-center">
  <b><%= t 'curicculum.description' %>:</b> <%= @curicculum.description %>
</div>
<% end %>
<hr>

<div id="vocational_table"><%= render 'vocationals/table' %></div>

<div id="modal"></div>

<!-- Modal -->
<div id="general_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BranchModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>