<h1>Listing request_vocationals</h1>

<table>
  <tr>
    <th>School request</th>
    <th>Vocational</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @request_vocationals.each do |request_vocational| %>
  <tr>
    <td><%= request_vocational.school_request_id %></td>
    <td><%= request_vocational.vocational_id %></td>
    <td><%= request_vocational.notes %></td>
    <td><%= link_to 'Show', request_vocational %></td>
    <td><%= link_to 'Edit', edit_request_vocational_path(request_vocational) %></td>
    <td><%= link_to 'Destroy', request_vocational, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request vocational', new_request_vocational_path %>
