<div class="row">
  <div class="col-md-2">
    <%=# link_to "#{t 'layout.master.employee'}", employees_path, :class => "btn" 
    %>
  </div>
  
  <div class="col-md-8">
    <h4 align="center"><%= t 'user.users' %></h4>
  </div>

  <div class="col-md-2" align="right">
    <%= link_to new_user_path, :class => "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<%= t 'new' %>
    <% end %>
  </div>
</div>

<p id="notice" style="color:red;"><%= notice %></p>

<div id="table"><%= render 'table' %></div>