<div class="row">
  <div class="col-md-2">
    <%= link_to users_path, :class => "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<%= t 'cancel' %>
    <% end %>
  </div>
  
  <div class="col-md-8">
    <h4 align="center"><%= t 'user.user' %> - <%= t 'new' %></h4>
  </div>

  <div class="col-md-2"></div>
</div>
<hr>

<%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username, "#{t 'user.username'}", :class => "col-sm-4 control-label" %>
    <div class="col-sm-4"><%= f.text_field :username, :required => true, :autofocus => true, :autocomplete => "off", :class => "form-control" %></div>
  </div>
  <div class="form-group">
	  <%= f.label :user_group_id, "#{t 'user.user_group'}", :class => "col-sm-4 control-label" %>
    <div class="col-sm-4"><%= select(:user, :user_group_id, @user_groups.collect {|role| [role.name, role.id,]}, {:prompt => "#{t 'prompt'} #{t 'user.user_group'}"}, :required => true, :class => "form-control") %></div>
  </div>
  <div class="form-group">
    <%= f.label :password, "#{t 'user.password'}", :class => "col-sm-4 control-label" %>
    <div class="col-sm-4"><%= f.password_field :password, :autocomplete => "off", :class => "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "#{t 'user.password_confirmation'}", :class => "col-sm-4 control-label" %>
    <div class="col-sm-4"><%= f.password_field :password_confirmation, :autocomplete => "off", :class => "form-control" %></div>
  </div>
  <div class="form-group">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><%= f.submit "#{t 'submit'}", :class => "btn btn-success", :disable_with => "#{t 'disable_with'}" %></div>
  </div>
<% end %>