<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <h4 align="center"><%= t 'event.due_events' %></h4>
  </div>

  <div class="col-md-2" align="right">
  </div>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <b>Klik untuk lihat..</b>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
				<table class="table table-condensed">
				  <tr style="background-color:#708DC6;">
				    <th><%= t 'event.title' %></th>
				    <th><%= t 'event.vocational' %></th>
				    <th><%= t 'event.date_start' %></th>
				    <th><%= t 'event.date_end' %></th>
				    <th><%= t 'event.status_short' %></th>
				    <th width="200" class="text-center"></th>
				  </tr>

				<% @due_events.each do |event| %>
				  <tr>
				    <td><%= event.title %></td>
				    <td><%= event.vocational.try(:name) %></td>
				    <td><%= date(event.date_start) %></td>
				    <td><%= date(event.date_end) %></td>
				    <td><span class="<%= event_class(event.status) %>"><%= event.status_name %></span></td>
				    <td class="text-center">
				    <% if event.status.to_i==0 %>
				        <%= link_to "#{t 'show'}", event_path(event, :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
				        <%= link_to "#{t 'edit'}", event_path(event, :modal => 0), :class => "btn btn-warning btn-xs" %>
				    <% elsif event.status.to_i==1 %>
				        <%= link_to "#{t 'show'}", event_path(event, :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
				        <%= link_to "#{t 'review'}", event_path(event, :modal => 0), :class => "btn btn-success btn-xs" %>
				    <% end %>
				    </td>
				  </tr>
				<% end %>
				</table>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <h4 align="center"><%= t 'event.incoming_events' %></h4>
  </div>

  <div class="col-md-2" align="right">
  </div>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <b>Klik untuk lihat..</b>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
				<table class="table table-condensed">
				  <tr style="background-color:#708DC6;">
				    <th><%= t 'event.title' %></th>
				    <th><%= t 'event.vocational' %></th>
				    <th><%= t 'event.date_start' %></th>
				    <th><%= t 'event.date_end' %></th>
				    <th><%= t 'event.status_short' %></th>
				    <th width="200" class="text-center"></th>
				  </tr>

				<% @incoming_events.each do |event| %>
				  <tr>
				    <td><%= event.title %></td>
				    <td><%= event.vocational.try(:name) %></td>
				    <td><%= date(event.date_start) %></td>
				    <td><%= date(event.date_end) %></td>
				    <td><span class="<%= event_class(event.status) %>"><%= event.status_name %></span></td>
				    <td class="text-center">
				    <% if event.status.to_i==0 %>
				        <%= link_to "#{t 'show'}", event_path(event, :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
				        <%= link_to "#{t 'edit'}", event_path(event, :modal => 0), :class => "btn btn-warning btn-xs" %>
				    <% elsif event.status.to_i==1 %>
				        <%= link_to "#{t 'show'}", event_path(event, :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
				        <%= link_to "#{t 'review'}", event_path(event, :modal => 0), :class => "btn btn-success btn-xs" %>
				    <% end %>
				    </td>
				  </tr>
				<% end %>
				</table>
      </div>
    </div>
  </div>
</div>

<div id="modal"></div>

<!-- Modal -->
<div id="general_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BranchModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body" style="height:500px; overflow:auto;">
      </div>
    </div>
  </div>
</div>