<%= form_for(@important_person) do |f| %>
  <% if @important_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@important_person.errors.count, "error") %> prohibited this important_person from being saved:</h2>

      <ul>
      <% @important_person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :nip %><br />
    <%= f.text_field :nip %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
