<div class="row-fluid">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <h4 align="center"><%= t 'company.company' %></h4>
  </div>

  <div class="col-md-2" align="right">
    <%= link_to edit_company_profile_path(@company_profile), :class => "btn btn-warning btn-sm" do %>
      <%= t 'edit' %>&nbsp;<i class="glyphicon glyphicon-pencil"></i>
    <% end %>
  </div>
</div>
<hr>


<div class="row">
  <div class="col-md-2">
    <%= image_tag @company_profile.logo.url(:small) %>
  </div>

  <div class="col-md-9">
    <table class="table table-condensed table-striped">
      <tr>
        <td class="col-md-2"><%= t 'company.name' %></td>
        <td>: <%= @company_profile.name %></td>
      </tr>
      <tr>
        <td class="col-md-2"><%= t 'company.full_name' %></td>
        <td>: <%= @company_profile.full_name %></td>
      </tr>
      <tr>
        <td><%= t 'company.address' %></td>
        <td>: <%= @company_profile.address %></td>
      </tr>
      <tr>
        <td class="col-md-2"><%= t 'company.city' %></td>
        <td>: <%= City.city_name(@company_profile.city_id) %></td>
      </tr>
    </table>
  </div>
</div>