<div class="row">
  <div class="col-md-3">
  	<%= link_to check_request_events_path(:id => @event.id), :class => "btn btn-default btn-sm" do %>
  		<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<%= "#{t 'back_to'} 1" %>
  	<% end %>
  </div>
  
  <div class="col-md-6">
    <h4 align="center"><%= "#{t 'new'} #{t 'event.event'} - #{t 'step'} 2 (#{t 'event.pick_date'})" %></h4>
  </div>

  <div class="col-md-3" align="right">
    <%= link_to "#", :class => "btn btn-default btn-sm", :disabled => true do %>
      Pilih tanggal untuk melanjutkan
    <% end %>
  </div>
</div>
<hr>

<div class="status_0" align="center">
  <%= t 'event.title' %>: <b><%= @event.title %></b> (<%= t 'date.date' %>: <b><%= date(@event.date_start) %></b> s.d. <b><%= date(@event.date_end) %> </b>)
</div>

<div id="event_id" style="display:none;"><%= @event.try(:id) %></div>

<div id='calendar'></div>