<div class="row">
  <div class="col-md-2">
  	<%= link_to pick_date_events_path(:id => @event.id), :class => "btn btn-default btn-sm" do %>
  		<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<%= t 'previous' %>
  	<% end %>
  </div>
  
  <div class="col-md-8">
    <h4 align="center"><%= "#{t 'new'} #{t 'event.event'} - #{t 'step'} 3 (#{t 'event.pick_vocational'})" %></h4>
  </div>

  <div class="col-md-2" align="right">
  </div>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <b>FILTER</b>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <%=# render 'filter/curicculum' 
        %>
      </div>
    </div>
  </div>
</div>

<div id="pick_vocational"><%= render 'pick_vocational' %></div>

<div id="modal"></div>

<!-- Modal -->
<div id="general_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BranchModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body" style="height:500px; overflow:auto;">
      </div>
    </div>
  </div>
</div>