<div class="row">
  <div class="col-md-3">
    <%= link_to check_request_events_path(:id => @event.id), :class => "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<%= "#{t 'back_to'} 1" %>
    <% end %>
  </div>
  
  <div class="col-md-6">
    <h4 align="center"><%= "#{t 'new'} #{t 'event.event'} - #{t 'step'} 2 (#{t 'event.pick_vocational'})" %></h4>
  </div>

  <div class="col-md-3" align="right">
    <%= link_to "#", :class => "btn btn-default btn-sm", :disabled => true do %>
      Pilih kejuruan untuk melanjutkan
    <% end %>
  </div>
</div>

<div class="status_0" align="center">
  Kolom informasi merupakan tanggal terakhir Diklat diadakan atau tanggal berikutnya Diklat akan diadakan.<br>
  Kolom Guru merupakan jumlah Guru yang mengajar pada kejuruan terkait.
</div>
<div id="pick_vocational"><%= render 'pick_vocational' %></div>

<div id="modal"></div>

<!-- Modal -->
<div id="general_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BranchModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body" style="height:500px; overflow:auto;">
      </div>
    </div>
  </div>
</div>