<div class="row">
  <div class="col-md-2">
    <%= link_to events_path, :class => "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<%= t 'back' %>
    <% end %>
  </div>
  
  <div class="col-md-8">
    <h4 align="center"><%= t 'event.event' %> - <%= t 'detail' %></h4>
  </div>

  <div class="col-md-2" align="right">
    <%= link_to edit_event_path(@event), :class => "btn btn-warning btn-sm", :remote => true do %>
      <%= t 'edit' %>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </div>
</div>

<%= render 'show' %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#matter" data-toggle="tab"><%= t 'event.matter' %></a></li>
  <li><a href="#exam" data-toggle="tab"><%= t 'event.exam' %></a></li>
  <li><a href="#participant" data-toggle="tab"><%= t 'event.participant' %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="matter"><%= #render 'event_requests/table'
   %></div>
  <div class="tab-pane" id="exam"><%= #render 'event_vocationals/table'
   %></div>
  <div class="tab-pane" id="participant"><%= #render 'table_teacher'
   %></div>
</div>