<div class="row">
  <div class="col-md-4">
    <%= link_to events_path, :class => "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<%= t 'back' %>
    <% end %>
  </div>
  
  <div class="col-md-4">
    <h4 align="center"><%= t 'event.event' %> - <%= t 'detail' %></h4>
  </div>

  <div class="col-md-4" align="right">
    <% if @event.status.to_i==0 %>
      <%= form_for(@event) do |f| %>
        <% if can? :update, Event %>
          <%= f.hidden_field :status, :value => 1 %>
          <%= button_tag :type => "submit", :id => "btn", :class => "btn btn-success btn-sm", :disable_with => "#{t 'disable_with'}", data: { confirm: "#{t 'confirm'}" } do %>
            <%= "#{t 'close'} #{t 'event.event'}" %>&nbsp;<span class="glyphicon glyphicon-lock"></span>
          <% end -%>

          <%= link_to check_request_events_path(:id => @event), :class => "btn btn-warning btn-sm" do %>
            <%= "#{t 'edit'} #{t 'event.event'}" %>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        <% end %>
      <% end -%>
    <% elsif @event.status.to_i==1 %>
      <%= form_for(@event) do |f| %>
        <% if can? :update, EventParticipant %>
          <%= link_to review_participant_event_event_participants_path(@event), :class => "btn btn-success btn-sm", :disable_with => "#{t 'disable_with'}" do %>
              <%= t 'event_participant.review_participant' %>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        <% end %>

        <%= f.hidden_field :status, :value => 5 %>
        <%= button_tag :type => "submit", :id => "btn", :class => "btn btn-danger btn-sm", :disable_with => "#{t 'disable_with'}", data: { confirm: "#{t 'confirm'}" } do %>
          <%= "#{t 'void'} #{t 'event.event'}" %>&nbsp;<span class="glyphicon glyphicon-lock"></span>
        <% end -%>
      <% end -%>
    <% end -%>
  </div>
</div>

<%= render 'show' %>

<div id="modal"></div>

<!-- Modal -->
<div id="general_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BranchModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>