<table id="event_exam_table" class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'event_exam.description' %></th>
    <th><%= t 'event_exam.exam_type' %></th>
    <% if @modal.to_i==0 %>
    <th width="200" class="text-center"><%= link_to "#{t 'add'}", new_event_event_exam_path(@event), :class => "btn btn-default btn-xs", :remote => true if @event.status.to_i==0 %></th>
    <% end %>
  </tr>

<% @event.exams.each do |event_exam| %>
  <tr>
    <td><%= event_exam.description %></td>
    <td><%= event_exam.exam_type %></td>
    <% if @modal.to_i==0 %>
    <td class="text-center">
      <%= link_to "#{t 'show'}", event_event_exam_path(@event, event_exam, :modal => 1), :class => "btn btn-default btn-xs", :remote => true %>
      <% if @event.status.to_i==0 %>
        <%= link_to "#{t 'edit'}", event_event_exam_path(@event, event_exam), :class => "btn btn-warning btn-xs" %>
        <%= link_to "#{t 'destroy'}", event_event_exam_path(@event, event_exam), method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
      <% end %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>