<%= will_paginate @events, :class => "apple_pagination" %>
<% get_row_number(@page) %>

<table id="event_table" class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th width="1%"><%= t 'row_number' %></th>
    <th><%= t 'event.title' %></th>
    <th><%= t 'event.vocational' %></th>
    <th><%= t 'event.date_start' %></th>
    <th><%= t 'event.date_end' %></th>
    <th><%= t 'event.status_short' %></th>
    <th width="150"></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td class="text-right"><%= @number+=1 %>)</td>
    <td><%= event.title %></td>
    <td><%= event.vocational.try(:name) %></td>
    <td><%= date(event.date_start) %></td>
    <td><%= date(event.date_end) %></td>
    <td><span class="<%= event_class(event.status) %>"><%= event.status_name %></span></td>
    <td style="text-align:right;">
      <%= link_to "#{t 'show'}", event_path(event, :modal => 1), :remote => true, :class => "btn btn-info btn-xs" %>
      <%= link_to "#{t 'print'}", event_path(event, :format => :pdf), :target => "_blank", :class => "btn btn-danger btn-xs" %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @events, :class => "apple_pagination" %>