<%= form_for(@teacher, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :school, "#{t 'teacher.school'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.select(:school_id, @schools.collect {|school| [school.name, school.id,]}, {:prompt => "#{t 'prompt'} #{t 'teacher.school'}"}, :class => "form-control", :required => true) %></div>
      </div>
      <div class="form-group">
        <%= f.label :nip, "#{t 'teacher.nip'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.text_field :nip, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :front_title, "#{t 'teacher.front_title'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.text_field :front_title, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :first_name, "#{t 'teacher.first_name'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.text_field :first_name, :class => "form-control", :required => true %></div>
      </div>
      <div class="form-group">
        <%= f.label :last_name, "#{t 'teacher.last_name'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.text_field :last_name, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :end_title, "#{t 'teacher.end_title'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.text_field :end_title, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :gender, "#{t 'teacher.gender'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.select(:gender, options_for_select([
          ["#{t 'teacher.man'}", 1], 
          ["#{t 'teacher.woman'}", 2]], :selected => @teacher.gender.to_i), {}, {:class => "form-control"}) %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :email, "#{t 'teacher.email'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.text_field :email, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :born_place, "#{t 'teacher.born_place'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.text_field :born_place, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :born_date, "#{t 'teacher.born_date'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.text_field :born_date, :class => "form-control", :onMouseOver => "$(this).datepicker({dateFormat: 'dd-mm-yy', showButtonPanel: true, changeMonth: true, changeYear: true, yearRange: '-100:+0'})" %></div>
      </div>
      <div class="form-group">
        <%= f.label :religion, "#{t 'teacher.religion'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.select(:religion, options_for_select([
          ["#{t 'prompt'} #{t 'teacher.religion'}", ""],
          ["#{t 'teacher.islam'}", 1], 
          ["#{t 'teacher.christian'}", 2],
          ["#{t 'teacher.catholic'}", 3],
          ["#{t 'teacher.hindu'}", 4],
          ["#{t 'teacher.buddha'}", 5],
          ["#{t 'teacher.konghuchu'}", 6],
          ["#{t 'teacher.other'}", 7]], :selected => @teacher.religion.to_i), {}, {:class => "form-control"}) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address, "#{t 'teacher.address'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.text_area :address, :rows => 3, :class => "form-control" %></div>
      </div>
      <!-- 
      <div class="form-group">
        <%= f.label :country, "#{t 'teacher.country'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.select(:country_id, @countries.collect {|country| [country.name, country.id,]}, {:prompt => "#{t 'prompt'} #{t 'city.country'}"}, {:class => "form-control"}) %></div>
      </div>
      <div class="form-group">
        <%= f.label :province, "#{t 'teacher.province'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.select(:province_id, @provinces.collect {|province| [province.name, province.id,]}, {:prompt => "#{t 'prompt'} #{t 'city.province'}"}, :class => "form-control") %></div>
      </div>
       -->
      <div class="form-group">
        <%= f.label :city, "#{t 'teacher.city'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.select(:city_id, @cities.collect {|city| [city.name, city.id,]}, {:prompt => "#{t 'prompt'} #{t 'city.city'}"}, :class => "form-control") %></div>
      </div>
      <div class="form-group">
        <%= f.label :start_teach, "#{t 'teacher.start_teach'}", :class => "col-sm-3 control-label" %>
        <div class="col-sm-8"><%= f.text_field :start_teach, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-8"><%= f.submit "#{t 'submit'}", :class => "btn btn-success btn-block", :disable_with => "#{t 'disable_with'}" %></div>
      </div>
    </div>
  </div>
<% end %>
