<table class="table table-condensed">
  <tr>
    <th><%= t 'teacher.nip' %></th>
    <td><b>:&nbsp;<%= @teacher.nip %></b></td>
    <th><%= t 'teacher.born_date' %></th>
    <td><b>:</b>&nbsp;<%= "#{@teacher.born_place}, #{@teacher.born_date}" %></td>
  </tr>
  <tr>
    <th><%= t 'teacher.name' %></th>
    <td><b>:&nbsp;<%= @teacher.try(:full_name) %></b></td>
    <th><%= t 'teacher.school' %></th>
    <td><b>:</b>&nbsp;<%= @teacher.school.try(:name) %></td>
  </tr>
  <tr>
    <th><%= t 'teacher.gender' %></th>
    <td><b>:</b>&nbsp;<%= @teacher.gender_name %></td>
    <th><%= t 'suppllier.email' %>:</th>
    <td><b>:</b>&nbsp;<%= @teacher.email %></td>
  </tr>
  <tr>
    <th><%= t 'teacher.religion' %></th>
    <td><b>:</b>&nbsp;<%= @teacher.religion_name %></td>
    <th><%= t 'suppllier.address' %>:</th>
    <td><b>:</b>&nbsp;<%= @teacher.try(:full_address) %></td>
  </tr>
  <tr>
    <th><%= t 'teacher.start_teach' %></th>
    <td><b>:</b>&nbsp;<%= @teacher.start_teach %></td>
    <th></th>
    <td><b></b>&nbsp;</td>
  </tr>
</table>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#history" data-toggle="tab"><%= t 'teacher.history.history' %></a></li>
  <li><a href="#needs" data-toggle="tab"><%= t 'teacher.needs' %></a></li>
  <li><a href="#vocational" data-toggle="tab"><%= t 'school.vocational' %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="history"><%= render 'teacher_histories/table' %></div>
  <div class="tab-pane" id="needs"><%= render 'teacher_need' %></div>
  <div class="tab-pane" id="vocational"><%= render 'teacher_vocationals/table' %></div>
</div>