<%= will_paginate @teachers, :class => "apple_pagination" %>

<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'teacher.nip' %></th>
    <th><%= t 'teacher.name' %></th>
    <th><%= t 'teacher.born_date' %></th>
    <th><%= t 'teacher.gender' %></th>
    <th><%= t 'teacher.school' %></th>
    <th><%= t 'teacher.start_teach' %></th>
    <th width="200"></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.nip %></td>
    <td><%= teacher.try(:full_name) %></td>
    <td><%= "#{teacher.born_place}, #{teacher.born_date}" %></td>
    <td><%= teacher.gender_name %></td>
    <td><%= teacher.try(:school).try(:name) %></td>
    <td><%= teacher.start_teach %></td>
    <td class="text-right">
        <%= link_to "#{t 'show'}", teacher_path(teacher, :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
      <% if can? :update, Teacher %>
        <%= link_to "#{t 'edit'}", teacher_path(teacher, :modal => 0), :class => "btn btn-warning btn-xs" %>
      <% end %>
      <% if can? :destroy, Teacher %>
        <%= link_to "#{t 'destroy'}", teacher, method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @teachers, :class => "apple_pagination" %>