<h1>Listing teachers</h1>

<table>
  <tr>
    <th>Nip</th>
    <th>Front title</th>
    <th>First name</th>
    <th>Last name</th>
    <th>End title</th>
    <th>Born place</th>
    <th>Born date</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Religion</th>
    <th>Address</th>
    <th>City</th>
    <th>Province</th>
    <th>Country</th>
    <th>Start teach</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.nip %></td>
    <td><%= teacher.front_title %></td>
    <td><%= teacher.first_name %></td>
    <td><%= teacher.last_name %></td>
    <td><%= teacher.end_title %></td>
    <td><%= teacher.born_place %></td>
    <td><%= teacher.born_date %></td>
    <td><%= teacher.gender %></td>
    <td><%= teacher.email %></td>
    <td><%= teacher.religion %></td>
    <td><%= teacher.address %></td>
    <td><%= teacher.city_id %></td>
    <td><%= teacher.province_id %></td>
    <td><%= teacher.country_id %></td>
    <td><%= teacher.start_teach %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
