<p id="notice"><%= notice %></p>

<p>
  <b>Nip:</b>
  <%= @teacher.nip %>
</p>

<p>
  <b>Front title:</b>
  <%= @teacher.front_title %>
</p>

<p>
  <b>First name:</b>
  <%= @teacher.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @teacher.last_name %>
</p>

<p>
  <b>End title:</b>
  <%= @teacher.end_title %>
</p>

<p>
  <b>Born place:</b>
  <%= @teacher.born_place %>
</p>

<p>
  <b>Born date:</b>
  <%= @teacher.born_date %>
</p>

<p>
  <b>Gender:</b>
  <%= @teacher.gender %>
</p>

<p>
  <b>Email:</b>
  <%= @teacher.email %>
</p>

<p>
  <b>Religion:</b>
  <%= @teacher.religion %>
</p>

<p>
  <b>Address:</b>
  <%= @teacher.address %>
</p>

<p>
  <b>City:</b>
  <%= @teacher.city_id %>
</p>

<p>
  <b>Province:</b>
  <%= @teacher.province_id %>
</p>

<p>
  <b>Country:</b>
  <%= @teacher.country_id %>
</p>

<p>
  <b>Start teach:</b>
  <%= @teacher.start_teach %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
