<%= will_paginate @schools, :class => "apple_pagination" %>

<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'school.nss' %></th>
    <th><%= t 'school.npsn' %></th>
    <th><%= t 'school.name' %></th>
    <th><%= t 'school.city' %></th>
    <th></th>
  </tr>

<% @schools.each do |school| %>
  <tr>
    <td><%= school.nss %></td>
    <td><%= school.npsn %></td>
    <td><%= school.name %></td>
    <td><%= school.city.try(:name) %></td>
    <td class="text-right">
        <%= link_to "#{t 'show'}", school_path(school, :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
        <%= link_to "#{t 'edit'}", school_path(school, :modal => 0), :class => "btn btn-warning btn-xs" %>
        <%= link_to "#{t 'delete'}", school, method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @schools, :class => "apple_pagination" %>