<div class="row">
  <div class="col-md-2">
    <%= link_to import_schools_path, :class => "btn btn-success btn-sm", :remote => true do %>
      <span class="glyphicon glyphicon-open"></span>&nbsp;<%= t 'import_excel' %>
    <% end %>
  </div>
  
  <div class="col-md-8">
    <h4 align="center"><%= t 'school.schools' %></h4>
  </div>

  <div class="col-md-2" align="right">
    <%= link_to new_school_path, :class => "btn btn-default btn-sm", :remote => true do %>
      <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<%= t 'new' %>
    <% end %>
  </div>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <b>FILTER</b>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <%=# render 'filter/province' 
        %>
      </div>
    </div>
  </div>
</div>

<div id="table"><%= render 'table' %></div>

<div id="modal"></div>

<!-- Modal -->
<div id="general_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BranchModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>