<p id="notice"><%= notice %></p>

<p>
  <b>Nss:</b>
  <%= @school.nss %>
</p>

<p>
  <b>Npsn:</b>
  <%= @school.npsn %>
</p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>Status:</b>
  <%= @school.status %>
</p>

<p>
  <b>Address:</b>
  <%= @school.address %>
</p>

<p>
  <b>City:</b>
  <%= @school.city_id %>
</p>

<p>
  <b>Province:</b>
  <%= @school.province_id %>
</p>

<p>
  <b>Country:</b>
  <%= @school.country_id %>
</p>

<p>
  <b>Phone:</b>
  <%= @school.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @school.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @school.email %>
</p>

<p>
  <b>Curicculum:</b>
  <%= @school.curicculum_id %>
</p>

<p>
  <b>Built year:</b>
  <%= @school.built_year %>
</p>

<p>
  <b>Start year:</b>
  <%= @school.start_year %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
