<%= will_paginate @countries, :class => "apple_pagination" %>

<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'country.name' %></th>
    <th><%= t 'country.country_ext' %></th>
    <th></th>
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%= country.name %></td>
    <td><%= country.country_ext %></td>
    <td class="text-right">
      <%= link_to "#{t 'edit'}", edit_country_path(country), :class => "btn btn-warning btn-xs", :remote => true %>
      <%= link_to "#{t 'delete'}", country, method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @countries, :class => "apple_pagination" %>