<table id="school_request_table" class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'reference_number' %></th>
    <th><%= t 'request_date' %></th>
    <th><%= t 'notes' %></th>
    <% if @modal.to_i==0 %>
    <th width="200" class="text-center"><%= link_to "#{t 'add'}", new_school_school_request_path(@school), :class => "btn btn-default btn-xs", :remote => true %></th>
    <% end %>
  </tr>

<% @school.requests.each do |school_request| %>
  <tr>
    <td><%= school_request.reference_number %></td>
    <td><%= date(school_request.request_date) %></td>
    <td><%= school_request.notes %></td>
    <% if @modal.to_i==0 %>
    <td class="text-center">
      <%= link_to "#{t 'show'}", school_school_request_path(@school, school_request, :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
      <%= link_to "#{t 'edit'}", school_school_request_path(@school, school_request, :modal => 0), :class => "btn btn-warning btn-xs" %>
      <%= link_to "#{t 'destroy'}", school_school_request_path(@school, school_request), method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>