<div class="row">
  <div class="col-md-2">
    <%= link_to @school, :class => "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<%= t 'back' %>
    <% end %>
  </div>
  
  <div class="col-md-8">
    <h4 align="center"><%= t 'school.school' %> <%= t 'school.request' %> - <%= t 'detail' %></h4>
  </div>

  <div class="col-md-2" align="right">
  </div>
</div>

Reference Number: <%= @school_request.references_number %><br>
Date: <%= date(@school_request.request_date) %>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#participant" data-toggle="tab"><%= t 'school.participant' %></a></li>
  <li><a href="#vocational" data-toggle="tab"><%= t 'school.vocational' %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="participant"><%= render 'request_participants/table' %></div>
  <div class="tab-pane" id="vocational"><%= render 'request_vocationals/table' %></div>
</div>

<div id="modal"></div>

<!-- Modal -->
<div id="general_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BranchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>