<%= will_paginate @provinces, :class => "apple_pagination" %>

<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'province.country' %></th>
    <th><%= t 'province.name' %></th>
    <th></th>
  </tr>

<% @provinces.each do |province| %>
  <tr>
    <td><%= province.country.try(:name) %></td>
    <td><%= province.name %></td>
    <td class="text-right">
      <%= link_to "#{t 'edit'}", edit_province_path(province), :class => "btn btn-warning btn-xs", :remote => true %>
      <%= link_to "#{t 'delete'}", province, method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @provinces, :class => "apple_pagination" %>