<%= form_tag event_check_request_filter_index_path, :method => "get", :class => "form-horizontal", :remote => true do %>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <%= label_tag 'reference', "#{t 'school.reference_number'}", :class => "col-sm-4 control-label" %>
      <div class="col-sm-8"><%= text_field_tag 'reference', '', :placeholder => "#{t 'all'}", :class => "form-control" %></div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="form-group">
      <%= label_tag 'date_start', "#{t 'school.request_date'}", :class => "col-sm-4 control-label" %>
      <div class="col-sm-4">
        <%= text_field_tag 'date_start', '', :placeholder => "#{t 'report.start_date'}", :class => "form-control", :onMouseOver => "$(this).datepicker({dateFormat: 'yy-mm-dd', showButtonPanel: true, changeMonth: true, changeYear: true, yearRange: '-5:+5'})" %>
      </div>
      <div class="col-sm-4">
        <%= text_field_tag 'date_end','', :placeholder => "#{t 'report.end_date'}", :class => "form-control", :onMouseOver => "$(this).datepicker({dateFormat: 'yy-mm-dd', showButtonPanel: true, changeMonth: true, changeYear: true, yearRange: '-5:+5'})" %>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <%= submit_tag "#{t 'process'}", :disable_with => "#{t 'disable_with'}", :class => "btn btn-success" %>
    </div>
  </div>
</div>
<% end %>