<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'teacher.school' %></th>
    <th><%= t 'teacher.nip' %></th>
    <th><%= t 'teacher.name' %></th>
    <th><%= t 'teacher.gender' %></th>
    <th width="200"></th>
  </tr>

<% @teacher_vocationals.each do |teacher_vocational| %>
  <tr>
    <td><%= teacher_vocational.try(:teacher).try(:school).try(:name) %></td>
    <td><%= teacher_vocational.try(:teacher).try(:nip) %></td>
    <td><%= teacher_vocational.try(:teacher).try(:full_name) %></td>
    <td><%= teacher_vocational.try(:teacher).try(:gender_name) %></td>
    <td class="text-right">
      <%= link_to "#{t 'show'}", teacher_path(teacher_vocational.try(:teacher_id), :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
      <%= link_to "#{t 'pick'}", pick_participant_event_event_participants_path(@event, :teacher_id => teacher_vocational.teacher_id), :class => "btn btn-success btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>