<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'school.reference_number' %></th>
    <th><%= t 'school.school' %></th>
    <th><%= t 'school.teacher' %></th>
    <th width="200"></th>
  </tr>

<% @school_requests.each do |school_request| %>
  <% school_request.participants.not_picked(@event.id).each do |request_participant|; @pass=1 %>
    <% teacher = Teacher.find(request_participant.teacher_id.to_i) %>
    <% prerequisite = @event.prerequisites.last %>
    <% if prerequisite.max_event_count.present? %>
      <% if prerequisite.max_event_count.to_i <= Event.joins(:participants).where("events.status=1 AND event_participants.teacher_id=#{teacher.id}").count %>
        <% @pass = @pass * 0 %>
      <% end %>
    <% end %>

    <% if prerequisite.max_long_teach.present? && teacher.start_teach.present? %>
      <% if prerequisite.max_long_teach.to_i <= (Date.today.year.to_i-teacher.start_teach.to_i) %>
        <% @pass = @pass * 0 %>
      <% end %>
    <% end %>

    <% if prerequisite.min_long_teach.present? && teacher.start_teach.present? %>
      <% if prerequisite.min_long_teach.to_i >= (Date.today.year.to_i-teacher.start_teach.to_i) %>
        <% @pass = @pass * 0 %>
      <% end %>
    <% end %>

    <% if prerequisite.min_age.present? && teacher.born_date.present? %>
      <% if prerequisite.min_age.to_i >= (Date.today.year.to_i-teacher.born_date.year.to_i) %>
        <% @pass = @pass * 0 %>
      <% end %>
    <% end %>

    <% if prerequisite.max_age.present? && teacher.born_date.present? %>
      <% if prerequisite.max_age.to_i <= (Date.today.year.to_i-teacher.born_date.year.to_i) %>
        <% @pass = @pass * 0 %>
      <% end %>
    <% end %>

    <% if @pass==0 %>
      <tr>
        <td><%= school_request.reference_number %></td>
        <td><%= school_request.school.try(:name) %></td>
        <td><%= request_participant.teacher.try(:full_name) %></td>
        <td class="text-right">
          <%= link_to "#{t 'show'}", school_school_request_path(school_request.try(:school_id), school_request, :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
          <%= link_to "#{t 'pick'}", pick_participant_event_event_participants_path(@event, :teacher_id => request_participant.teacher_id), :class => "btn btn-success btn-xs", :remote => true %>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>
</table>