<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'teacher.school' %></th>
    <th><%= t 'teacher.nip' %></th>
    <th><%= t 'teacher.name' %></th>
    <th><%= t 'event_participant.total_presence' %></th>
    <th><%= t 'event_participant.exam' %></th>
    <th><%= t 'event_participant.exam_grade' %></th>
    <th><%= t 'event_participant.status' %></th>
    <th width="200"></th>
  </tr>

<% @event.participants.each do |event_participant| %>
  <tr>
    <td><%= event_participant.teacher.school.try(:name) %></td>
    <td><%= event_participant.teacher.nip %></td>
    <td><%= event_participant.teacher.full_name %></td>
    <td><%= best_in_place event_participant, :total_presence, :type => :input, :path => event_event_participant_path(@event, event_participant) %></td>
    <td><%= best_in_place event_participant, :event_exam_id, :type => :select, :collection => @event.exams.collect{|exam| [exam.id, exam.exam_type]}, :path => event_event_participant_path(@event, event_participant) %></td>
    <td><%= best_in_place event_participant, :exam_grade, :type => :input, :path => event_event_participant_path(@event, event_participant) %></td>
    <td><%= best_in_place event_participant, :status, :type => :select, :collection => [["7", "#{t 'event_participant.pass'}"], ["8", "#{t 'event_participant.not_pass'}"]], :path => event_event_participant_path(@event, event_participant) %></td>
    <td class="text-right">
      <%= link_to "#{t 'show'}", teacher_path(event_participant.try(:teacher_id), :modal => 1), :class => "btn btn-info btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>