<%= form_tag fix_participant_event_event_participants_path(@event), :class => "form-horizontal" do |f| %>
  <div class="row">
    <div class="col-md-2">
      <%= link_to @event, :class => "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<%= t 'cancel' %>
      <% end %>
    </div>
    
    <div class="col-md-8">
      <h4 align="center"><%= "#{t 'add'} #{t 'event_participant.event_participant'} - (#{t 'event_participant.fix_participant'})" %></h4>
    </div>

    <div class="col-md-2" align="right">
      <%= submit_tag "#{t 'submit'}", :class => "btn btn-success", :disable_with => "#{t 'disable_with'}" %>
    </div>
  </div>
    
  <table class="table table-condensed">
    <tr style="background-color:#708DC6;">
      <th>
        <label class="checkbox">
          <%= check_box_tag "all", "", "", :class => "checkall" %>
          <%= label_tag "#{t 'select_all'}" %>
        </label>
      </th>
      <th><%= t 'event_participant.teacher' %></th>
      <th><%= t 'event_participant.school' %></th>
      <th></th>
    </tr>
    <% @event.participants.each do |participant| %>
    <tr>
      <td>
        <label class="checkbox">
          <%= check_box_tag "event_participant[participant_ids][]", participant.id, @event.participants.fix_participant.include?(participant) %>
        </label>
      </td>
      <td><%= participant.teacher.full_name %></td>
      <td><%= participant.teacher.school.name %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<!-- 
<div id="register_participant"><%= render 'register_participant' %></div>
 -->

<div id="modal"></div>

<!-- Modal -->
<div id="general_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BranchModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>