<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @event_participant.event_id %>
</p>

<p>
  <b>Teacher:</b>
  <%= @event_participant.teacher_id %>
</p>

<p>
  <b>Total presence:</b>
  <%= @event_participant.total_presence %>
</p>

<p>
  <b>Exam grade:</b>
  <%= @event_participant.exam_grade %>
</p>

<p>
  <b>Status:</b>
  <%= @event_participant.status %>
</p>


<%= link_to 'Edit', edit_event_participant_path(@event_participant) %> |
<%= link_to 'Back', event_participants_path %>
