<!DOCTYPE html>
<html>
<head>
  <title>PPPK-TNA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<% if user_signed_in? %>
<body>
<% else %>
<body style="background-image: url(/assets/Logo.png); background-position: left bottom; background-size: 220px 300px;">
<% end %>
	<nav class="navbar navbar-default" role="navigation" id="show">
		<div class="container">
		  <div class="row">
		  	<% if user_signed_in? %>
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
			    <a class="navbar-brand" href="/">
			    	<%= company_name %>
			    </a>
			  </div>

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
            <% if can? :read, Curicculum %><li><a href="/curicculums"><%= t 'curicculum.curicculums' %></a></li><% end %>
            <% if can? :read, School %><li><a href="/schools"><%= t 'school.schools' %></a></li><% end %>
            <% if can? :read, Teacher %><li><a href="/teachers"><%= t 'teacher.teachers' %></a></li><% end %>
			    	<% if can? :read, Event %><li><a href="/events"><%= t 'event.events' %></a></li><% end %>
			    	<% if can? :read, "report" %><li><a href="/report/event"><%= t 'event.report' %></a></li><% end %>
            
            <% if current_user.try(:user_group).try(:name)=='Developer' or current_user.try(:user_group).try(:name)=='Administrator' %>
			    	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setting <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/admin/users"><%= t 'user.users' %></a></li>
		            <li><a href="/cities"><%= t 'city.cities' %></a></li>
		            <li><a href="/company_profiles"><%= t 'company.company' %></a></li>
		            <li><a href="/important_people"><%= t 'important_person.important_people' %></a></li>
		            <li><a href="/user_groups"><%= t 'user_group.user_groups' %></a></li>
		          </ul>
		        </li>
		        <% end %>
            <!-- 
            <li><a href="/countries"><%= t 'country.countries' %></a></li>
            <li><a href="/provinces"><%= t 'province.provinces' %></a></li>
             -->
			    </ul>
				  <p class="navbar-text navbar-right">
				  	Login as <%= current_user.try(:username) %> (<u><%= link_to "#{t 'logout'}", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></u>)
				  </p>
			  </div><!-- /.navbar-collapse -->
			  <% end %>
			</div>
		</div>
	</nav>

	<div id="loading-indicator" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BranchModalLabel" aria-hidden="true">
	  <div class="modal-dialog" style="width:900px;">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title text-center"><%= image_tag("loading.gif") %> <%= t 'processing' %></h3>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="container">
	  <div class="row">
	  	<% if notice %>
			  <p id="show" class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			  <p id="show" class="alert alert-danger"><%= alert %></p>
			<% end %>
	  	
		  <%= yield %>
	  </div>
	</div>
</body>
</html>
